/*
BalaM314- Interstellar.

*/

.theme-dark:root {
  --background-primary: #101040 !important;
  --background-secondary: #101030 !important;
  --background-tertiary: #000001 !important;
  --background-text-area: #FF00FF !important;
  --background-secondary-alt: #000030 !important;
  --channeltextarea-background: #000040 !important;
  --background-floating: #000060 !important;
  --scrollbar-thin-thumb: #004b10 !important;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #005b10 !important;
  --scrollbar-auto-track: #003b10 !important;
  --scrollbar-auto-scrollbar-color-thumb: #005b10 !important;
  --scrollbar-auto-scrollbar-color-track: #003b10 !important;
}
.layer-2KE1M9 .theme-light {
  --header-primary: #9EC !important;
  --header-secondary: #8A9 !important;
  --text-normal: #8A8 !important;
}
.theme-dark .container-1D34oG {
  background-color: #0c0c35 !important;
}
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--background-secondary) !important;
}
.theme-dark .root-1gCeng {
  background-color: var(--background-primary) !important;
}
.theme-dark .footer-2gL1pp {
  background-color: #337 !important;
}
.theme-dark .headerNormal-T_seeN {
  background-color: #001030 !important;
}
.theme-dark .body-3iLsc4 {
  background-color: #002045 !important;
}
.theme-dark .footer-1fjuF6 {
  background-color: #002045 !important;
}
.theme-dark .container-3ayLPN {
  background-color: #000060 !important;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: #000040 !important;
  background-image: none !important;
}
.theme-dark .option-96V44q:after {
  background-image: none !important;
}
.theme-dark .option-96V44q::before {
  background-image: none !important;
}
.theme-dark #search-results .focused-2bY0OD {
  background-color: #000060 !important;
}
.theme-dark .header-2N-gMV {
  color: #EEFFFF !important;
}
.theme-dark .plusIcon-v0BTrL {
  color: #CCCCDD !important;
}
.theme-dark .searchClearHistory-2cSSMO {
  color: #CCCCEE !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: #000060 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: #000060 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: #040450 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled {
  background-color: #040450 !important;
}
.theme-dark .pageWrapper-1PgVDX {
  background-color: #101080 !important;
}
.wordmark-2iDDfm:after {
  content: "P I R O C O R D";
  font-size: 15px;
  position: absolute;
  width: 3500px;
  top: 5px;
  padding-left: 0px;
  font-family: 'bold';
  color: #9F0;
}
.wordmark-2iDDfm > svg {
  width: 0px;
}
.wordmark-2iDDfm {
    left: 25px;
}
.wordmark-2iDDfm:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  bottom: 0;
  right: 0;
  background: url(https://cdn.discordapp.com/attachments/709904643819307030/851041307433893908/pirocord-logo.png) center/20px no-repeat;
}
@keyframes balaname {
  0% {color: #3141FF;}
  25% {color: #31FF41;}
  50% {color: #3141FF;}
  75% {color: #FF3141;}
  100% {color: #3141FF;}
}

.userPopout-xaxa6l[aria-label="BalaM314"] .username-2b1r56 {
  color:#3141FF;
  animation-name: balaname;
  animation-duration: 10s;
}
.message-2qnXI6[data-author-id="709904412033810533"] .username-1A8OIy {
  color:#3141FF;
}

.message-2qnXI6[data-author-id="709904412033810533"] .username-1A8OIy:focus {
  color:#3141FF;
  animation-name: balaname;
  animation-duration: 10s;
}

.username-2b1r56.username-FvTBog {
  color:#3141FF;
  animation-name: balaname;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.badgeList-1R1WgZ::after {
  content: "π";
  margin-top: -7px;
  font: 30px bold;
  animation-name: balaname;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.container-1CE3eW {
  background-color: #337;
  color: #999;
}
.container-UC8Ug1 {
  background-color: #282868 !important;
}
.container-UC8Ug1:hover {
  background-color: #226 !important;
}

/*
.inner-1ilYF7
.avatar-3EQepX[data-user-id="709904412033810533"]
*/
