/*
BalaM314- Interstellar.

*/

.theme-dark,
:root {
  --background-primary: #101040 !important;
  --background-secondary: #101030 !important;
  --background-tertiary: #000001 !important;
  --background-text-area: #FF00FF !important;
  --background-secondary-alt: #000030 !important;
  --channeltextarea-background: #000040 !important;
  --background-floating: #000060 !important;
  --scrollbar-thin-thumb: #004b10 !important;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #005b10 !important;
  --scrollbar-auto-track: #003b10 !important;
  --scrollbar-auto-scrollbar-color-thumb: #005b10 !important;
  --scrollbar-auto-scrollbar-color-track: #003b10 !important;
}
.theme-dark .container-1D34oG {
  background-color: #0c0c35 !important;
}
.theme-dark .uploadModal-2ifh8j {
  background-color: #101030 !important;
}
.theme-dark .root-1gCeng {
  background-color: #101040 !important;
}
.theme-dark .footer-2gL1pp {
  background-color: #101042 !important;
}
.theme-dark .headerNormal-T_seeN {
  background-color: #001030 !important;
}
.theme-dark .body-3iLsc4 {
  background-color: #002045 !important;
}
.theme-dark .footer-1fjuF6 {
  background-color: #002045 !important;
}
.theme-dark .container-3ayLPN {
  background-color: #000060 !important;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: #000040 !important;
  background-image: none !important;
}
.theme-dark .option-96V44q:after {
  background-image: none !important;
}
.theme-dark .option-96V44q::before {
  background-image: none !important;
}
.theme-dark #search-results .focused-2bY0OD {
  background-color: #000060 !important;
}
.theme-dark .header-2N-gMV {
  color: #EEFFFF !important;
}
.theme-dark .plusIcon-v0BTrL {
  color: #CCCCDD !important;
}
.theme-dark .searchClearHistory-2cSSMO {
  color: #CCCCEE !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: #000060 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: #000060 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: #040450 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled {
  background-color: #040450 !important;
}
.theme-dark .pageWrapper-1PgVDX {
  background-color: #101080 !important;
}
